In [31]:
import pandas as pd
import numpy as np
from pandas import read_excel
from pandas import DataFrame
import seaborn as sns
import matplotlib.pyplot as plt
from calendar import day_abbr, month_abbr, mdays
import datetime
#from datetime import datetime

from sklearn.metrics import mean_squared_error, mean_absolute_error
plt.style.use('fivethirtyeight') # For plots

#Author: Vatsala

In [32]:
plot_file_path="../plotImages/"

plot_data_path="../plotData/"

In [33]:
#****** Note: Data has been QC-ed

#read met Data to get the units of the different measurements
met_data = read_excel('../metData/ASSIST_EH_Biomet_30mins_Merged_20200605.xlsx', sheet_name='ASSIST_EH_Biomet_30mins_Merged', header=0)  #index_col=0, parse_dates=[0]

In [34]:
print(met_data)

               TIMESTAMP_1    PPFD_1_1_1 SWin_1_1_1 SWout_1_1_1 LWin_1_1_1  \
0         yyyy-mm-dd HH:MM  umol+1m-2s-1     W+1m-2      W+1m-2     W+1m-2
1      2018-12-21 08:30:00         7.745      1.736       1.436     343.55
2      2018-12-21 09:00:00        18.115     7.6995      1.1595     353.75
3      2018-12-21 09:30:00         21.28     7.6915       0.864     351.45
4      2018-12-21 10:00:00        65.275     28.765      3.7425      350.4
...                    ...           ...        ...         ...        ...
25518  2020-06-04 23:00:00         0.002    -0.5485       0.497      333.4
25519  2020-06-04 23:30:00         0.004     -0.548      0.4845      336.4
25520  2020-06-05 00:00:00         0.004    -0.6595       0.378      339.2
25521  2020-06-05 00:30:00         0.007     -0.422      0.3765      345.8
25522  2020-06-05 01:00:00        0.0065     -0.609        0.36      344.7

      LWout_1_1_1 Rnet_1_1_1  G_1_1_1  G_2_1_1 Ta_1_1_1  ... TDT2_Ts_1_1_1  \
0          W+1m-2     W+1m-2   W+1m-2   W+1m-2        C  ...             C
1          355.45      -11.6  17.2844  16.9636    10.81  ...         -9999
2           361.8      -1.51  12.0295  10.3424   10.515  ...          7.25
3           360.6    -2.3225  8.07984   5.8823   10.375  ...          7.35
4          360.85    14.5725  6.18701  4.13848    10.49  ...           7.4
...           ...        ...      ...      ...      ...  ...           ...
25518       365.2   -32.8455 -7.38646 -8.05636    10.48  ...          14.4
25519       364.7   -29.3325  -7.5716 -8.05554   10.455  ...          14.4
25520      366.55   -28.3875 -7.40327 -7.75931   10.545  ...         14.35
25521       367.8   -22.7985 -6.98852 -7.08234   10.685  ...          14.3
25522      368.95    -25.219 -6.97679 -6.74418    10.97  ...          14.3

      TDT3_Ts_1_1_1 TDT4_Ts_1_1_1 VWC_1_1_1 VWC_2_1_1 VWC_3_1_1 VWC_4_1_1  \
0                 C             C         %         %         %         %
1             -9999         -9999     -9999     -9999     -9999     -9999
2               8.2          8.85      18.4     26.85      26.7      33.2
3               8.2          8.65      18.4     26.95     26.25      33.2
4              8.15          8.45      18.2     27.25      26.1      33.2
...             ...           ...       ...       ...       ...       ...
25518          14.3          13.6      8.15      14.6      12.3      14.2
25519         14.25         13.55      8.15      14.6      12.3      14.2
25520         14.15         13.45       8.3      14.6        12     14.25
25521          14.1          13.4       8.3      14.6        12      14.3
25522          14.1          13.4       8.3      14.6     12.55     14.15

      WaterLevel_1_1_1 SigStrength_1_1_1 AGC_1_1_1
0                   mm                 %       dim
1                -9999              94.5     -9999
2                -9999               100     -9999
3                -9999               100     -9999
4                -9999               100     -9999
...                ...               ...       ...
25518            -9999               100     -9999
25519            -9999               100     -9999
25520            -9999               100     -9999
25521            -9999               100     -9999
25522            -9999               100     -9999

[25523 rows x 29 columns]

In [35]:
metdata_unit = pd.DataFrame()

metdata_unit['metUnit'] = met_data.iloc[0,:]
metdata_unit

                            metUnit
TIMESTAMP_1        yyyy-mm-dd HH:MM
PPFD_1_1_1             umol+1m-2s-1
SWin_1_1_1                   W+1m-2
SWout_1_1_1                  W+1m-2
LWin_1_1_1                   W+1m-2
LWout_1_1_1                  W+1m-2
Rnet_1_1_1                   W+1m-2
G_1_1_1                      W+1m-2
G_2_1_1                      W+1m-2
Ta_1_1_1                          C
RH_1_1_1                          %
Pa_1_1_1                        KPa
P_1_1_1                          mm
STP_TSoil_2_1_1_1                 C
STP_TSoil5_1_1_1                  C
STP_TSoil10_1_1_1                 C
STP_TSoil20_1_1_1                 C
STP_TSoil50_1_1_1                 C
TDT1_Ts_1_1_1                     C
TDT2_Ts_1_1_1                     C
TDT3_Ts_1_1_1                     C
TDT4_Ts_1_1_1                     C
VWC_1_1_1                         %
VWC_2_1_1                         %
VWC_3_1_1                         %
VWC_4_1_1                         %
WaterLevel_1_1_1                 mm
SigStrength_1_1_1                 %
AGC_1_1_1                       dim

In [36]:
met_data

,TIMESTAMP_1,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,G_1_1_1,G_2_1_1,Ta_1_1_1,...,TDT2_Ts_1_1_1,TDT3_Ts_1_1_1,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1
0,yyyy-mm-dd HH:MM,umol+1m-2s-1,W+1m-2,W+1m-2,W+1m-2,W+1m-2,W+1m-2,W+1m-2,W+1m-2,C,...,C,C,C,%,%,%,%,mm,%,dim
1,2018-12-21 08:30:00,7.745,1.736,1.436,343.55,355.45,-11.6,17.2844,16.9636,10.81,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,94.5,-9999
2,2018-12-21 09:00:00,18.115,7.6995,1.1595,353.75,361.8,-1.51,12.0295,10.3424,10.515,...,7.25,8.2,8.85,18.4,26.85,26.7,33.2,-9999,100,-9999
3,2018-12-21 09:30:00,21.28,7.6915,0.864,351.45,360.6,-2.3225,8.07984,5.8823,10.375,...,7.35,8.2,8.65,18.4,26.95,26.25,33.2,-9999,100,-9999
4,2018-12-21 10:00:00,65.275,28.765,3.7425,350.4,360.85,14.5725,6.18701,4.13848,10.49,...,7.4,8.15,8.45,18.2,27.25,26.1,33.2,-9999,100,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25518,2020-06-04 23:00:00,0.002,-0.5485,0.497,333.4,365.2,-32.8455,-7.38646,-8.05636,10.48,...,14.4,14.3,13.6,8.15,14.6,12.3,14.2,-9999,100,-9999
25519,2020-06-04 23:30:00,0.004,-0.548,0.4845,336.4,364.7,-29.3325,-7.5716,-8.05554,10.455,...,14.4,14.25,13.55,8.15,14.6,12.3,14.2,-9999,100,-9999
25520,2020-06-05 00:00:00,0.004,-0.6595,0.378,339.2,366.55,-28.3875,-7.40327,-7.75931,10.545,...,14.35,14.15,13.45,8.3,14.6,12,14.25,-9999,100,-9999
25521,2020-06-05 00:30:00,0.007,-0.422,0.3765,345.8,367.8,-22.7985,-6.98852,-7.08234,10.685,...,14.3,14.1,13.4,8.3,14.6,12,14.3,-9999,100,-9999
25522,2020-06-05 01:00:00,0.0065,-0.609,0.36,344.7,368.95,-25.219,-6.97679,-6.74418,10.97,...,14.3,14.1,13.4,8.3,14.6,12.55,14.15,-9999,100,-9999

In [37]:
#Drop the first row from the dataset
met_data.drop(met_data.index[0], inplace=True)  #with inplace=True, we do not need to reassign the statement to the dataframe

In [38]:
met_data

,TIMESTAMP_1,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,G_1_1_1,G_2_1_1,Ta_1_1_1,...,TDT2_Ts_1_1_1,TDT3_Ts_1_1_1,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1
1,2018-12-21 08:30:00,7.745,1.736,1.436,343.55,355.45,-11.6,17.2844,16.9636,10.81,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,94.5,-9999
2,2018-12-21 09:00:00,18.115,7.6995,1.1595,353.75,361.8,-1.51,12.0295,10.3424,10.515,...,7.25,8.2,8.85,18.4,26.85,26.7,33.2,-9999,100,-9999
3,2018-12-21 09:30:00,21.28,7.6915,0.864,351.45,360.6,-2.3225,8.07984,5.8823,10.375,...,7.35,8.2,8.65,18.4,26.95,26.25,33.2,-9999,100,-9999
4,2018-12-21 10:00:00,65.275,28.765,3.7425,350.4,360.85,14.5725,6.18701,4.13848,10.49,...,7.4,8.15,8.45,18.2,27.25,26.1,33.2,-9999,100,-9999
5,2018-12-21 10:30:00,111.155,51.505,6.9765,349.05,361.7,31.8785,7.06924,5.48763,10.525,...,7.4,8.1,8.4,18.25,27.65,26.7,33.2,-9999,100,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25518,2020-06-04 23:00:00,0.002,-0.5485,0.497,333.4,365.2,-32.8455,-7.38646,-8.05636,10.48,...,14.4,14.3,13.6,8.15,14.6,12.3,14.2,-9999,100,-9999
25519,2020-06-04 23:30:00,0.004,-0.548,0.4845,336.4,364.7,-29.3325,-7.5716,-8.05554,10.455,...,14.4,14.25,13.55,8.15,14.6,12.3,14.2,-9999,100,-9999
25520,2020-06-05 00:00:00,0.004,-0.6595,0.378,339.2,366.55,-28.3875,-7.40327,-7.75931,10.545,...,14.35,14.15,13.45,8.3,14.6,12,14.25,-9999,100,-9999
25521,2020-06-05 00:30:00,0.007,-0.422,0.3765,345.8,367.8,-22.7985,-6.98852,-7.08234,10.685,...,14.3,14.1,13.4,8.3,14.6,12,14.3,-9999,100,-9999
25522,2020-06-05 01:00:00,0.0065,-0.609,0.36,344.7,368.95,-25.219,-6.97679,-6.74418,10.97,...,14.3,14.1,13.4,8.3,14.6,12.55,14.15,-9999,100,-9999

In [39]:
#set the index of data to Timestamp
met_data.set_index('TIMESTAMP_1', inplace=True)
met_data

,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,G_1_1_1,G_2_1_1,Ta_1_1_1,RH_1_1_1,...,TDT2_Ts_1_1_1,TDT3_Ts_1_1_1,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1
TIMESTAMP_1,,,,,,,,,,,,,,,,,,,,,
2018-12-21 08:30:00,7.745,1.736,1.436,343.55,355.45,-11.6,17.2844,16.9636,10.81,85.7,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,94.5,-9999
2018-12-21 09:00:00,18.115,7.6995,1.1595,353.75,361.8,-1.51,12.0295,10.3424,10.515,80.41,...,7.25,8.2,8.85,18.4,26.85,26.7,33.2,-9999,100,-9999
2018-12-21 09:30:00,21.28,7.6915,0.864,351.45,360.6,-2.3225,8.07984,5.8823,10.375,78.2,...,7.35,8.2,8.65,18.4,26.95,26.25,33.2,-9999,100,-9999
2018-12-21 10:00:00,65.275,28.765,3.7425,350.4,360.85,14.5725,6.18701,4.13848,10.49,74.77,...,7.4,8.15,8.45,18.2,27.25,26.1,33.2,-9999,100,-9999
2018-12-21 10:30:00,111.155,51.505,6.9765,349.05,361.7,31.8785,7.06924,5.48763,10.525,74.585,...,7.4,8.1,8.4,18.25,27.65,26.7,33.2,-9999,100,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-04 23:00:00,0.002,-0.5485,0.497,333.4,365.2,-32.8455,-7.38646,-8.05636,10.48,85.75,...,14.4,14.3,13.6,8.15,14.6,12.3,14.2,-9999,100,-9999
2020-06-04 23:30:00,0.004,-0.548,0.4845,336.4,364.7,-29.3325,-7.5716,-8.05554,10.455,87.9,...,14.4,14.25,13.55,8.15,14.6,12.3,14.2,-9999,100,-9999
2020-06-05 00:00:00,0.004,-0.6595,0.378,339.2,366.55,-28.3875,-7.40327,-7.75931,10.545,89.35,...,14.35,14.15,13.45,8.3,14.6,12,14.25,-9999,100,-9999
2020-06-05 00:30:00,0.007,-0.422,0.3765,345.8,367.8,-22.7985,-6.98852,-7.08234,10.685,89.9,...,14.3,14.1,13.4,8.3,14.6,12,14.3,-9999,100,-9999
2020-06-05 01:00:00,0.0065,-0.609,0.36,344.7,368.95,-25.219,-6.97679,-6.74418,10.97,89.55,...,14.3,14.1,13.4,8.3,14.6,12.55,14.15,-9999,100,-9999

In [40]:
#Filter the dataframe to consider only a date range - applicable to the plots

#query = pd.Period('2009-12-28/2010-01-03', 'W-SUN')
#df.truncate(query.start_time, query.end_time)
#df[(df.index >= query.start_time) & (df.index <= query.end_time)]

met_data = met_data[(met_data.index >= '2019-03-26 17:26:00') & (met_data.index <= '2019-06-30 02:17:00')]
met_data

,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,G_1_1_1,G_2_1_1,Ta_1_1_1,RH_1_1_1,...,TDT2_Ts_1_1_1,TDT3_Ts_1_1_1,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1
TIMESTAMP_1,,,,,,,,,,,,,,,,,,,,,
2019-03-26 17:30:00,277.5,146.15,33.14,267.1,366.25,13.86,1.18508,2.85365,11.85,54.435,...,10.15,12.05,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999
2019-03-26 18:00:00,124.15,67.9,13.15,266.45,357.3,-36.1,-6.40419,-9.29737,11.21,57.315,...,10.25,11.8,12.55,18.6,27.7,30.35,35.95,-9999,100,-9999
2019-03-26 18:30:00,30.33,9.8225,1.458,280.85,341.65,-52.4355,-14.4412,-18.8931,9.785,63.445,...,10.3,11.4,11.5,18.6,27.75,30.45,35.9,-9999,100,-9999
2019-03-26 19:00:00,1.9145,-0.312,-0.069,315.65,345.15,-29.743,-17.1809,-20.9032,8.745,69.08,...,10.3,10.95,10.7,18.6,27.8,30.35,35.85,-9999,100,-9999
2019-03-26 19:30:00,0.0145,-1.2475,-0.3645,317.05,345.2,-29.033,-16.1875,-19.3229,8.53,71.18,...,10.25,10.55,10.2,18.6,27.75,30.35,35.8,-9999,100,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-30 00:00:00,0.0045,-2.61,0.381,322.45,394.5,-75.041,-24.2677,-15.6408,16.06,91.15,...,19.35,19.95,19.45,12.85,19.3,20.35,24.9,-9999,100,-9999
2019-06-30 00:30:00,0.004,-2.604,0.5075,314.7,391.65,-80.0615,-25.9029,-16.4602,15.565,90.85,...,19.25,19.65,19.1,12.8,19.3,20.2,24.9,-9999,100,-9999
2019-06-30 01:00:00,0.0045,-3.0015,0.454,304.9,387.85,-86.4055,-27.7037,-17.3981,15.075,90.5,...,19.15,19.4,18.75,12.8,19.25,20.2,24.85,-9999,100,-9999
2019-06-30 01:30:00,0.0045,-2.92,0.59,296.15,384.5,-91.86,-30.3501,-19.1406,14.545,91.25,...,19,19.15,18.45,12.85,19.25,20.4,24.85,-9999,100,-9999
2019-06-30 02:00:00,0.005,-2.3615,0.5265,301.35,381.95,-83.488,-32.5037,-20.1864,14.01,93.35,...,18.85,18.9,18.15,12.9,19.3,20.3,24.85,-9999,100,-9999

In [41]:
metdata_unit

                            metUnit
TIMESTAMP_1        yyyy-mm-dd HH:MM
PPFD_1_1_1             umol+1m-2s-1
SWin_1_1_1                   W+1m-2
SWout_1_1_1                  W+1m-2
LWin_1_1_1                   W+1m-2
LWout_1_1_1                  W+1m-2
Rnet_1_1_1                   W+1m-2
G_1_1_1                      W+1m-2
G_2_1_1                      W+1m-2
Ta_1_1_1                          C
RH_1_1_1                          %
Pa_1_1_1                        KPa
P_1_1_1                          mm
STP_TSoil_2_1_1_1                 C
STP_TSoil5_1_1_1                  C
STP_TSoil10_1_1_1                 C
STP_TSoil20_1_1_1                 C
STP_TSoil50_1_1_1                 C
TDT1_Ts_1_1_1                     C
TDT2_Ts_1_1_1                     C
TDT3_Ts_1_1_1                     C
TDT4_Ts_1_1_1                     C
VWC_1_1_1                         %
VWC_2_1_1                         %
VWC_3_1_1                         %
VWC_4_1_1                         %
WaterLevel_1_1_1                 mm
SigStrength_1_1_1                 %
AGC_1_1_1                       dim

In [42]:
#How to get data at one particular index value
print(metdata_unit.at['PPFD_1_1_1', 'metUnit'])

umol+1m-2s-1

In [43]:
met_data_copy = met_data.copy()
met_data_copy['TimeMeasured'] = met_data.index
met_data_copy

,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,G_1_1_1,G_2_1_1,Ta_1_1_1,RH_1_1_1,...,TDT3_Ts_1_1_1,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1,TimeMeasured
TIMESTAMP_1,,,,,,,,,,,,,,,,,,,,,
2019-03-26 17:30:00,277.5,146.15,33.14,267.1,366.25,13.86,1.18508,2.85365,11.85,54.435,...,12.05,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999,2019-03-26 17:30:00
2019-03-26 18:00:00,124.15,67.9,13.15,266.45,357.3,-36.1,-6.40419,-9.29737,11.21,57.315,...,11.8,12.55,18.6,27.7,30.35,35.95,-9999,100,-9999,2019-03-26 18:00:00
2019-03-26 18:30:00,30.33,9.8225,1.458,280.85,341.65,-52.4355,-14.4412,-18.8931,9.785,63.445,...,11.4,11.5,18.6,27.75,30.45,35.9,-9999,100,-9999,2019-03-26 18:30:00
2019-03-26 19:00:00,1.9145,-0.312,-0.069,315.65,345.15,-29.743,-17.1809,-20.9032,8.745,69.08,...,10.95,10.7,18.6,27.8,30.35,35.85,-9999,100,-9999,2019-03-26 19:00:00
2019-03-26 19:30:00,0.0145,-1.2475,-0.3645,317.05,345.2,-29.033,-16.1875,-19.3229,8.53,71.18,...,10.55,10.2,18.6,27.75,30.35,35.8,-9999,100,-9999,2019-03-26 19:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-30 00:00:00,0.0045,-2.61,0.381,322.45,394.5,-75.041,-24.2677,-15.6408,16.06,91.15,...,19.95,19.45,12.85,19.3,20.35,24.9,-9999,100,-9999,2019-06-30 00:00:00
2019-06-30 00:30:00,0.004,-2.604,0.5075,314.7,391.65,-80.0615,-25.9029,-16.4602,15.565,90.85,...,19.65,19.1,12.8,19.3,20.2,24.9,-9999,100,-9999,2019-06-30 00:30:00
2019-06-30 01:00:00,0.0045,-3.0015,0.454,304.9,387.85,-86.4055,-27.7037,-17.3981,15.075,90.5,...,19.4,18.75,12.8,19.25,20.2,24.85,-9999,100,-9999,2019-06-30 01:00:00
2019-06-30 01:30:00,0.0045,-2.92,0.59,296.15,384.5,-91.86,-30.3501,-19.1406,14.545,91.25,...,19.15,18.45,12.85,19.25,20.4,24.85,-9999,100,-9999,2019-06-30 01:30:00
2019-06-30 02:00:00,0.005,-2.3615,0.5265,301.35,381.95,-83.488,-32.5037,-20.1864,14.01,93.35,...,18.9,18.15,12.9,19.3,20.3,24.85,-9999,100,-9999,2019-06-30 02:00:00

In [44]:
met_data

,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,G_1_1_1,G_2_1_1,Ta_1_1_1,RH_1_1_1,...,TDT2_Ts_1_1_1,TDT3_Ts_1_1_1,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1
TIMESTAMP_1,,,,,,,,,,,,,,,,,,,,,
2019-03-26 17:30:00,277.5,146.15,33.14,267.1,366.25,13.86,1.18508,2.85365,11.85,54.435,...,10.15,12.05,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999
2019-03-26 18:00:00,124.15,67.9,13.15,266.45,357.3,-36.1,-6.40419,-9.29737,11.21,57.315,...,10.25,11.8,12.55,18.6,27.7,30.35,35.95,-9999,100,-9999
2019-03-26 18:30:00,30.33,9.8225,1.458,280.85,341.65,-52.4355,-14.4412,-18.8931,9.785,63.445,...,10.3,11.4,11.5,18.6,27.75,30.45,35.9,-9999,100,-9999
2019-03-26 19:00:00,1.9145,-0.312,-0.069,315.65,345.15,-29.743,-17.1809,-20.9032,8.745,69.08,...,10.3,10.95,10.7,18.6,27.8,30.35,35.85,-9999,100,-9999
2019-03-26 19:30:00,0.0145,-1.2475,-0.3645,317.05,345.2,-29.033,-16.1875,-19.3229,8.53,71.18,...,10.25,10.55,10.2,18.6,27.75,30.35,35.8,-9999,100,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-30 00:00:00,0.0045,-2.61,0.381,322.45,394.5,-75.041,-24.2677,-15.6408,16.06,91.15,...,19.35,19.95,19.45,12.85,19.3,20.35,24.9,-9999,100,-9999
2019-06-30 00:30:00,0.004,-2.604,0.5075,314.7,391.65,-80.0615,-25.9029,-16.4602,15.565,90.85,...,19.25,19.65,19.1,12.8,19.3,20.2,24.9,-9999,100,-9999
2019-06-30 01:00:00,0.0045,-3.0015,0.454,304.9,387.85,-86.4055,-27.7037,-17.3981,15.075,90.5,...,19.15,19.4,18.75,12.8,19.25,20.2,24.85,-9999,100,-9999
2019-06-30 01:30:00,0.0045,-2.92,0.59,296.15,384.5,-91.86,-30.3501,-19.1406,14.545,91.25,...,19,19.15,18.45,12.85,19.25,20.4,24.85,-9999,100,-9999
2019-06-30 02:00:00,0.005,-2.3615,0.5265,301.35,381.95,-83.488,-32.5037,-20.1864,14.01,93.35,...,18.85,18.9,18.15,12.9,19.3,20.3,24.85,-9999,100,-9999

In [45]:
#from datetime import datetime, timedelta

x = datetime.datetime(2020, 5, 17, 16, 36) 


def hour_rounder(t):
    # Rounds to nearest hour by adding a timedelta hour if minute >= 30
    return (t.replace(second=0, microsecond=0, minute=0, hour=t.hour)
               +datetime.timedelta(hours=t.minute//30))

print(x)
print(hour_rounder(x))

2020-05-17 16:36:00
2020-05-17 17:00:00

In [46]:
#from datetime import datetime, timedelta

x = datetime.datetime(2020, 5, 17, 16, 36) 

def hour_rounder(t):
    # Rounds to nearest hour by adding a timedelta hour if minute >= 30
    return (t.replace(second=0, microsecond=0, minute=0, hour=t.hour)
               +datetime.timedelta(minutes=15*(t.minute // 15)))

print(x)
print(hour_rounder(x))

2020-05-17 16:36:00
2020-05-17 16:30:00

In [47]:
#test round function from dt

met_data1 = met_data.copy()
met_data1['TIMESTAMP_1_value'] = met_data1.index

#round the timestamp value to nearest quarter
#met_data1['TIMESTAMP_1_rounded'] = met_data1['TIMESTAMP_1_value'].dt.round('15min')

#round the timestamp value to nearest half hour
met_data1['TIMESTAMP_1_rounded'] = met_data1['TIMESTAMP_1_value'].dt.round('30min')

#Drop the column Timestamp - the rounded Timestamp value will be used for plotting
#met_data1.drop('TIMESTAMP_1_value', axis=1, inplace=True)

met_data1

,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,G_1_1_1,G_2_1_1,Ta_1_1_1,RH_1_1_1,...,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1,TIMESTAMP_1_value,TIMESTAMP_1_rounded
TIMESTAMP_1,,,,,,,,,,,,,,,,,,,,,
2019-03-26 17:30:00,277.5,146.15,33.14,267.1,366.25,13.86,1.18508,2.85365,11.85,54.435,...,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999,2019-03-26 17:30:00,2019-03-26 17:30:00
2019-03-26 18:00:00,124.15,67.9,13.15,266.45,357.3,-36.1,-6.40419,-9.29737,11.21,57.315,...,12.55,18.6,27.7,30.35,35.95,-9999,100,-9999,2019-03-26 18:00:00,2019-03-26 18:00:00
2019-03-26 18:30:00,30.33,9.8225,1.458,280.85,341.65,-52.4355,-14.4412,-18.8931,9.785,63.445,...,11.5,18.6,27.75,30.45,35.9,-9999,100,-9999,2019-03-26 18:30:00,2019-03-26 18:30:00
2019-03-26 19:00:00,1.9145,-0.312,-0.069,315.65,345.15,-29.743,-17.1809,-20.9032,8.745,69.08,...,10.7,18.6,27.8,30.35,35.85,-9999,100,-9999,2019-03-26 19:00:00,2019-03-26 19:00:00
2019-03-26 19:30:00,0.0145,-1.2475,-0.3645,317.05,345.2,-29.033,-16.1875,-19.3229,8.53,71.18,...,10.2,18.6,27.75,30.35,35.8,-9999,100,-9999,2019-03-26 19:30:00,2019-03-26 19:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-30 00:00:00,0.0045,-2.61,0.381,322.45,394.5,-75.041,-24.2677,-15.6408,16.06,91.15,...,19.45,12.85,19.3,20.35,24.9,-9999,100,-9999,2019-06-30 00:00:00,2019-06-30 00:00:00
2019-06-30 00:30:00,0.004,-2.604,0.5075,314.7,391.65,-80.0615,-25.9029,-16.4602,15.565,90.85,...,19.1,12.8,19.3,20.2,24.9,-9999,100,-9999,2019-06-30 00:30:00,2019-06-30 00:30:00
2019-06-30 01:00:00,0.0045,-3.0015,0.454,304.9,387.85,-86.4055,-27.7037,-17.3981,15.075,90.5,...,18.75,12.8,19.25,20.2,24.85,-9999,100,-9999,2019-06-30 01:00:00,2019-06-30 01:00:00
2019-06-30 01:30:00,0.0045,-2.92,0.59,296.15,384.5,-91.86,-30.3501,-19.1406,14.545,91.25,...,18.45,12.85,19.25,20.4,24.85,-9999,100,-9999,2019-06-30 01:30:00,2019-06-30 01:30:00
2019-06-30 02:00:00,0.005,-2.3615,0.5265,301.35,381.95,-83.488,-32.5037,-20.1864,14.01,93.35,...,18.15,12.9,19.3,20.3,24.85,-9999,100,-9999,2019-06-30 02:00:00,2019-06-30 02:00:00

In [48]:
#Filter met data - remove negative values - e.g. values such as -9999 should be removed
#Filter out negative values from the dataframe - filter negative values such as -9999
met_data1 = met_data1[(met_data1['G_1_1_1'] >= 0.0) & \
                                    (met_data1['G_2_1_1'] >= 0.0) & \
                                    (met_data1['Ta_1_1_1'] >= 0.0) & \
                                    (met_data1['RH_1_1_1'] >= 0.0) & \
                                    (met_data1['Pa_1_1_1'] >= 0.0) & \
                                    (met_data1['P_1_1_1'] >= 0.0) & \
                                    
                                    (met_data1['PPFD_1_1_1'] >= 0.0) & \
                                    (met_data1['SWin_1_1_1'] >= 0.0) & \
                                    (met_data1['SWout_1_1_1'] >= 0.0) & \
                                    (met_data1['LWin_1_1_1'] >= 0.0) & \
                                    (met_data1['LWout_1_1_1'] >= 0.0) & \
                                    (met_data1['Rnet_1_1_1'] >= 0.0) & \
                     
                                    (met_data1['STP_TSoil_2_1_1_1'] >= 0.0) & \
                                    (met_data1['STP_TSoil5_1_1_1'] >= 0.0) & \
                                    (met_data1['STP_TSoil10_1_1_1'] >= 0.0) & \
                                    (met_data1['STP_TSoil50_1_1_1'] >= 0.0) & \
                      
                                    (met_data1['TDT1_Ts_1_1_1'] >= 0.0) & \
                                    (met_data1['TDT2_Ts_1_1_1'] >= 0.0) & \
                                    (met_data1['TDT3_Ts_1_1_1'] >= 0.0) & \
                                    (met_data1['TDT4_Ts_1_1_1'] >= 0.0) & \
                      
                                    (met_data1['VWC_1_1_1'] >= 0.0) & \
                                    (met_data1['VWC_2_1_1'] >= 0.0) & \
                                    (met_data1['VWC_3_1_1'] >= 0.0) & \
                                    (met_data1['VWC_4_1_1'] >= 0.0) 
                     ]

In [49]:
met_data1

,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,G_1_1_1,G_2_1_1,Ta_1_1_1,RH_1_1_1,...,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1,TIMESTAMP_1_value,TIMESTAMP_1_rounded
TIMESTAMP_1,,,,,,,,,,,,,,,,,,,,,
2019-03-26 17:30:00,277.5,146.15,33.14,267.1,366.25,13.86,1.18508,2.85365,11.85,54.435,...,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999,2019-03-26 17:30:00,2019-03-26 17:30:00
2019-03-27 08:30:00,220.75,102,20.01,336.25,355.5,62.74,3.63768,5.82833,7.262,78.595,...,7.1,19.05,27.5,30.2,35.6,-9999,100,-9999,2019-03-27 08:30:00,2019-03-27 08:30:00
2019-03-27 09:00:00,315.4,146.45,28.675,336.2,359.4,94.575,10.5088,12.4279,7.648,77.565,...,7.5,19.05,27.45,30.2,35.6,-9999,100,-9999,2019-03-27 09:00:00,2019-03-27 09:00:00
2019-03-27 09:30:00,480,224.3,43.875,336.1,367.35,149.175,20.9785,23.0942,8.465,75.635,...,8.05,19.1,27.4,30.05,35.65,-9999,100,-9999,2019-03-27 09:30:00,2019-03-27 09:30:00
2019-03-27 10:00:00,654.85,305.8,59.94,332,375.4,202.46,33.9317,36.154,9.505,71.99,...,8.9,19.1,27.4,29.9,35.7,-9999,100,-9999,2019-03-27 10:00:00,2019-03-27 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-29 16:30:00,1164.5,504.8,115.05,374.7,495.45,269,65.7012,40.8623,31.5,32.12,...,26.15,12.85,19.4,21.2,25.7,-9999,100,-9999,2019-06-29 16:30:00,2019-06-29 16:30:00
2019-06-29 17:00:00,823.95,342.45,79.025,381.35,484.1,160.675,57.3733,32.9733,30.495,35.845,...,25.5,12.85,19.35,20.65,25.55,-9999,100,-9999,2019-06-29 17:00:00,2019-06-29 17:00:00
2019-06-29 17:30:00,791.45,332.35,78.87,388.65,479.85,162.28,51.0973,25.8889,29.665,39.42,...,24.85,12.9,19.3,20.5,25.45,-9999,100,-9999,2019-06-29 17:30:00,2019-06-29 17:30:00
2019-06-29 18:00:00,619.3,265.35,64.52,383.9,473.5,111.23,54.1961,25.3104,29.125,45.615,...,24.3,12.85,19.3,20.65,25.4,-9999,100,-9999,2019-06-29 18:00:00,2019-06-29 18:00:00
2019-06-29 18:30:00,452.6,193.1,50.435,380.05,465.7,57.015,40.3785,18.8579,28.225,51.725,...,23.85,12.8,19.3,20.65,25.35,-9999,100,-9999,2019-06-29 18:30:00,2019-06-29 18:30:00

In [61]:
#Save the filtered met data to a file
met_data1.to_excel("../metData/FilteredMetData_MartoJun.xlsx")

##### Note: Below is reading Plot1 gas flux data only - to be merged with met data

In [50]:
#round the timestamp values for Plot 1 to nearest 15 mins to get same timestamp
#read Plot 1 data
plot1_data = read_excel('../plotData/plotData_1.xlsx', sheet_name='Sheet1', index_col=13, parse_dates=[13])

In [51]:
#print(plot1_data.head(10))
#plot1_data.dtypes

In [52]:
#Extract only datetime and flux from the series
plot1_dataframe = DataFrame()

plot1_dataframe['Flux']      = plot1_data['flux']
plot1_dataframe['ghg']       = plot1_data['ghg']
plot1_dataframe['flux_unit'] = plot1_data['unit']
plot1_dataframe['Timestamp'] = plot1_data.index
plot1_dataframe['Plot_ID'] = plot1_data['Plot_ID']

#round the timestamp value to nearest quarter
#plot1_dataframe['TIMESTAMP_1_rounded'] = plot1_dataframe['Timestamp'].dt.round('15min')

#round the timestamp value to nearest half hour
plot1_dataframe['TIMESTAMP_1_rounded'] = plot1_dataframe['Timestamp'].dt.round('30min')

#Drop the column Timestamp - the rounded Timestamp value will be used for plotting
plot1_dataframe.drop('Timestamp', axis=1, inplace=True)

#Create new index
plot1_dataframe.reset_index(drop=True, inplace=True)
plot1_dataframe.set_index('TIMESTAMP_1_rounded', drop=True, append=False, inplace=True, verify_integrity=False)

plot1_dataframe

                         Flux      ghg flux_unit  Plot_ID
TIMESTAMP_1_rounded
2019-03-26 17:30:00 -144.0262  N2O_dry       mug        1
2019-03-26 22:00:00 -102.3469  N2O_dry       mug        1
2019-03-27 06:30:00  -93.0909  N2O_dry       mug        1
2019-03-28 20:30:00   63.8219  N2O_dry       mug        1
2019-03-30 02:30:00 -157.9453  N2O_dry       mug        1
...                       ...      ...       ...      ...
2019-06-29 05:00:00  930.5471  CO2_dry        mg        1
2019-06-29 13:30:00  412.6364  CO2_dry        mg        1
2019-06-29 17:30:00  540.0715  CO2_dry        mg        1
2019-06-29 22:00:00  953.3316  CO2_dry        mg        1
2019-06-30 02:30:00  684.4827  CO2_dry        mg        1

[858 rows x 4 columns]

#bring together gas flux and met data
met_gasflux_data = plot1_dataframe.merge(met_data1, left_index=True, right_index=True, how='inner')

#save to a file
met_gasflux_data.to_excel('Met_GasFluxData_Plot1.xlsx')
met_gasflux_data

Note: Met data consists of different variables - break the data into 3 different data sets - radiation parameters; air parameters; soil parameters

### Note: The below cells are for Plot 1 - after these cells, we have got cells for merging data across all the plots (separate gases) with the met data

### Merge all the met data together with Plot1 data

In [53]:
#Merge dataframes- based on index
plot1_metdata_all = plot1_dataframe.merge(met_data1, left_index=True, right_index=True, how='inner')

plot1_metdata_all.drop('TIMESTAMP_1_value', axis=1, inplace=True)
plot1_metdata_all.reset_index(drop=True, inplace=True)
plot1_metdata_all.set_index('TIMESTAMP_1_rounded', drop=True, append=False, inplace=True, verify_integrity=False)

#Save to excel file
plot1_metdata_all.to_excel("Plot1_MetData_All.xlsx")

plot1_metdata_all

,Flux,ghg,flux_unit,Plot_ID,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,...,TDT2_Ts_1_1_1,TDT3_Ts_1_1_1,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1
TIMESTAMP_1_rounded,,,,,,,,,,,,,,,,,,,,,
2019-03-26 17:30:00,-144.0262,N2O_dry,mug,1,277.5,146.15,33.14,267.1,366.25,13.86,...,10.15,12.05,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999
2019-03-26 17:30:00,-98.0130,CH4_dry,mug,1,277.5,146.15,33.14,267.1,366.25,13.86,...,10.15,12.05,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999
2019-03-26 17:30:00,-466.8398,CO2_dry,mg,1,277.5,146.15,33.14,267.1,366.25,13.86,...,10.15,12.05,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999
2019-03-30 15:30:00,280.6187,N2O_dry,mug,1,641.1,284.85,57.88,293.6,395,125.57,...,11,14,17,18.3,25.65,27.55,32.95,-9999,100,-9999
2019-03-30 15:30:00,-59.4622,CH4_dry,mug,1,641.1,284.85,57.88,293.6,395,125.57,...,11,14,17,18.3,25.65,27.55,32.95,-9999,100,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-29 13:30:00,-114.9512,CH4_dry,mug,1,1965.5,905,167.7,366.6,511.5,592.4,...,17.8,21.4,25.25,13,19.65,21.35,26.35,-9999,100,-9999
2019-06-29 13:30:00,412.6364,CO2_dry,mg,1,1965.5,905,167.7,366.6,511.5,592.4,...,17.8,21.4,25.25,13,19.65,21.35,26.35,-9999,100,-9999
2019-06-29 17:30:00,-125.4368,N2O_dry,mug,1,791.45,332.35,78.87,388.65,479.85,162.28,...,19.95,23.55,24.85,12.9,19.3,20.5,25.45,-9999,100,-9999
2019-06-29 17:30:00,-74.6339,CH4_dry,mug,1,791.45,332.35,78.87,388.65,479.85,162.28,...,19.95,23.55,24.85,12.9,19.3,20.5,25.45,-9999,100,-9999
2019-06-29 17:30:00,540.0715,CO2_dry,mg,1,791.45,332.35,78.87,388.65,479.85,162.28,...,19.95,23.55,24.85,12.9,19.3,20.5,25.45,-9999,100,-9999

### Get a slice of the met_data1 - for radiation parameters

In [54]:
#get a slice of the met_data1 - for radiation parameters
met_data1_slice2 = met_data1[['TIMESTAMP_1_rounded', 'PPFD_1_1_1', 'SWin_1_1_1', 'SWout_1_1_1', 'LWin_1_1_1', 'LWout_1_1_1', 'Rnet_1_1_1']]

#Create new index
met_data1_slice2.reset_index(drop=True, inplace=True)
met_data1_slice2.set_index('TIMESTAMP_1_rounded', drop=True, append=False, inplace=True, verify_integrity=False)

#Filter out negative values from the dataframe
met_data1_slice2 = met_data1_slice2[(met_data1_slice2['PPFD_1_1_1'] >= 0.0) & \
                                    (met_data1_slice2['SWin_1_1_1'] >= 0.0) & \
                                    (met_data1_slice2['SWout_1_1_1'] >= 0.0) & \
                                    (met_data1_slice2['LWin_1_1_1'] >= 0.0) & \
                                    (met_data1_slice2['LWout_1_1_1'] >= 0.0) & \
                                    (met_data1_slice2['Rnet_1_1_1'] >= 0.0)]
                                    
met_data1_slice2.to_csv('MetData_Radiation_Filtered.csv')
met_data1_slice2

,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1
TIMESTAMP_1_rounded,,,,,,
2019-03-26 17:30:00,277.5,146.15,33.14,267.1,366.25,13.86
2019-03-27 08:30:00,220.75,102,20.01,336.25,355.5,62.74
2019-03-27 09:00:00,315.4,146.45,28.675,336.2,359.4,94.575
2019-03-27 09:30:00,480,224.3,43.875,336.1,367.35,149.175
2019-03-27 10:00:00,654.85,305.8,59.94,332,375.4,202.46
...,...,...,...,...,...,...
2019-06-29 16:30:00,1164.5,504.8,115.05,374.7,495.45,269
2019-06-29 17:00:00,823.95,342.45,79.025,381.35,484.1,160.675
2019-06-29 17:30:00,791.45,332.35,78.87,388.65,479.85,162.28
2019-06-29 18:00:00,619.3,265.35,64.52,383.9,473.5,111.23
2019-06-29 18:30:00,452.6,193.1,50.435,380.05,465.7,57.015

##### bring together plot 1 and met data together (Radiation parameters ), and plot

In [55]:
#concatenate this sliced dataframe with plot1_dataframe  #NOTE concatenate does not work
#plot1_metdata_slice1 = pd.concat([met_data1_slice1, plot1_dataframe], ignore_index=False, sort=False)

#Merge dataframes- based on index
plot1_metdata_slice2 = plot1_dataframe.merge(met_data1_slice2, left_index=True, right_index=True, how='inner')
plot1_metdata_slice2

,Flux,ghg,flux_unit,Plot_ID,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1
TIMESTAMP_1_rounded,,,,,,,,,,
2019-03-26 17:30:00,-144.0262,N2O_dry,mug,1,277.5,146.15,33.14,267.1,366.25,13.86
2019-03-26 17:30:00,-98.0130,CH4_dry,mug,1,277.5,146.15,33.14,267.1,366.25,13.86
2019-03-26 17:30:00,-466.8398,CO2_dry,mg,1,277.5,146.15,33.14,267.1,366.25,13.86
2019-03-30 15:30:00,280.6187,N2O_dry,mug,1,641.1,284.85,57.88,293.6,395,125.57
2019-03-30 15:30:00,-59.4622,CH4_dry,mug,1,641.1,284.85,57.88,293.6,395,125.57
...,...,...,...,...,...,...,...,...,...,...
2019-06-29 13:30:00,-114.9512,CH4_dry,mug,1,1965.5,905,167.7,366.6,511.5,592.4
2019-06-29 13:30:00,412.6364,CO2_dry,mg,1,1965.5,905,167.7,366.6,511.5,592.4
2019-06-29 17:30:00,-125.4368,N2O_dry,mug,1,791.45,332.35,78.87,388.65,479.85,162.28
2019-06-29 17:30:00,-74.6339,CH4_dry,mug,1,791.45,332.35,78.87,388.65,479.85,162.28
2019-06-29 17:30:00,540.0715,CO2_dry,mg,1,791.45,332.35,78.87,388.65,479.85,162.28

In [56]:
plot1_dataframe

                         Flux      ghg flux_unit  Plot_ID
TIMESTAMP_1_rounded
2019-03-26 17:30:00 -144.0262  N2O_dry       mug        1
2019-03-26 22:00:00 -102.3469  N2O_dry       mug        1
2019-03-27 06:30:00  -93.0909  N2O_dry       mug        1
2019-03-28 20:30:00   63.8219  N2O_dry       mug        1
2019-03-30 02:30:00 -157.9453  N2O_dry       mug        1
...                       ...      ...       ...      ...
2019-06-29 05:00:00  930.5471  CO2_dry        mg        1
2019-06-29 13:30:00  412.6364  CO2_dry        mg        1
2019-06-29 17:30:00  540.0715  CO2_dry        mg        1
2019-06-29 22:00:00  953.3316  CO2_dry        mg        1
2019-06-30 02:30:00  684.4827  CO2_dry        mg        1

[858 rows x 4 columns]

In [57]:
#Separate the dataframe by greenhouse gas - and then plot (4 vertical plots - 3 gases + 1 met data)

plot1_metdata_slice2_N2Odry = plot1_metdata_slice2[plot1_metdata_slice2['ghg'] == "N2O_dry"]

plot1_metdata_slice2_CH4dry = plot1_metdata_slice2[plot1_metdata_slice2['ghg'] == "CH4_dry"]

plot1_metdata_slice2_CO2dry = plot1_metdata_slice2[plot1_metdata_slice2['ghg'] == "CO2_dry"]

plot1_metdata_slice2_N2Odry

,Flux,ghg,flux_unit,Plot_ID,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1
TIMESTAMP_1_rounded,,,,,,,,,,
2019-03-26 17:30:00,-144.0262,N2O_dry,mug,1,277.5,146.15,33.14,267.1,366.25,13.86
2019-03-30 15:30:00,280.6187,N2O_dry,mug,1,641.1,284.85,57.88,293.6,395,125.57
2019-03-31 13:30:00,-154.8489,N2O_dry,mug,1,799.1,383.2,76.39,337.95,379.4,265.36
2019-04-01 14:00:00,123.3821,N2O_dry,mug,1,1378.5,676.4,142.05,269.9,404.75,399.5
2019-04-02 12:00:00,140.6737,N2O_dry,mug,1,551.45,264.05,52.42,324.6,351.3,184.93
...,...,...,...,...,...,...,...,...,...,...
2019-06-27 09:30:00,77.3658,N2O_dry,mug,1,1622,732.6,147.45,306.15,418.05,473.25
2019-06-27 18:30:00,-91.3518,N2O_dry,mug,1,491.8,210.4,53.99,329.9,425.05,61.26
2019-06-28 16:00:00,55.7146,N2O_dry,mug,1,1368,617.1,136.85,338.5,459.9,358.85
2019-06-29 13:30:00,-97.1944,N2O_dry,mug,1,1965.5,905,167.7,366.6,511.5,592.4
2019-06-29 17:30:00,-125.4368,N2O_dry,mug,1,791.45,332.35,78.87,388.65,479.85,162.28

### Note: Read gas flux across all the plots - to be used to merge with met data

In [58]:
#Below is - reading file to get gas flux across all the plots

plotAll_data = read_excel('../plotData/SkyLine_QC0.xlsx', sheet_name='Flux', index_col=13, parse_dates=[13])

In [59]:
#Extract only datetime and flux from the series
plotAll_dataframe = DataFrame()

plotAll_dataframe['Flux']      = plotAll_data['flux']
plotAll_dataframe['ghg']       = plotAll_data['ghg']
plotAll_dataframe['flux_unit'] = plotAll_data['unit']
plotAll_dataframe['Timestamp'] = plotAll_data.index
plotAll_dataframe['Plot_ID'] = plotAll_data['Plot_ID']


#round the timestamp value to nearest half hour
plotAll_dataframe['TIMESTAMP_1_rounded'] = plotAll_dataframe['Timestamp'].dt.round('30min')

#Drop the column Timestamp - the rounded Timestamp value will be used for plotting
plotAll_dataframe.drop('Timestamp', axis=1, inplace=True)

#Create new index
plotAll_dataframe.reset_index(drop=True, inplace=True)
plotAll_dataframe.set_index('TIMESTAMP_1_rounded', drop=True, append=False, inplace=True, verify_integrity=False)

plotAll_dataframe

                          Flux      ghg flux_unit  Plot_ID
TIMESTAMP_1_rounded
2019-03-26 18:00:00   -76.9603  N2O_dry       mug        7
2019-03-26 18:30:00  -108.6953  N2O_dry       mug       11
2019-03-26 18:30:00   -89.4384  N2O_dry       mug       12
2019-03-26 19:00:00    70.0648  N2O_dry       mug       13
2019-03-26 19:00:00   -81.0646  N2O_dry       mug       14
...                        ...      ...       ...      ...
2019-06-30 23:00:00  1073.0730  CO2_dry        mg       32
2019-06-30 23:30:00   926.1353  CO2_dry        mg       33
2019-06-30 23:30:00   612.4387  CO2_dry        mg       34
2019-06-30 23:30:00   828.4506  CO2_dry        mg       35
2019-06-30 23:30:00  1061.2370  CO2_dry        mg       36

[36397 rows x 4 columns]

In [60]:
#bring together gas flux and met data
met_Allgasflux_data = plotAll_dataframe.merge(met_data1, left_index=True, right_index=True, how='inner')

#save to a file
met_Allgasflux_data.to_excel(plot_data_path+'Met_GasFluxData_AllPlots.xlsx')

#met_Allgasflux_data.drop(met_Allgasflux_data.index, axis=1, inplace=True) 
met_Allgasflux_data

,Flux,ghg,flux_unit,Plot_ID,PPFD_1_1_1,SWin_1_1_1,SWout_1_1_1,LWin_1_1_1,LWout_1_1_1,Rnet_1_1_1,...,TDT4_Ts_1_1_1,VWC_1_1_1,VWC_2_1_1,VWC_3_1_1,VWC_4_1_1,WaterLevel_1_1_1,SigStrength_1_1_1,AGC_1_1_1,TIMESTAMP_1_value,TIMESTAMP_1_rounded
2019-03-26 17:30:00,30.5901,N2O_dry,mug,2,277.5,146.15,33.14,267.1,366.25,13.86,...,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999,2019-03-26 17:30:00,2019-03-26 17:30:00
2019-03-26 17:30:00,-62.9864,N2O_dry,mug,3,277.5,146.15,33.14,267.1,366.25,13.86,...,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999,2019-03-26 17:30:00,2019-03-26 17:30:00
2019-03-26 17:30:00,78.1063,N2O_dry,mug,2,277.5,146.15,33.14,267.1,366.25,13.86,...,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999,2019-03-26 17:30:00,2019-03-26 17:30:00
2019-03-26 17:30:00,-144.0262,N2O_dry,mug,1,277.5,146.15,33.14,267.1,366.25,13.86,...,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999,2019-03-26 17:30:00,2019-03-26 17:30:00
2019-03-26 17:30:00,-98.0357,CH4_dry,mug,2,277.5,146.15,33.14,267.1,366.25,13.86,...,13.6,18.6,27.75,30.25,36.05,-9999,100,-9999,2019-03-26 17:30:00,2019-03-26 17:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-29 18:30:00,-71.4157,CH4_dry,mug,10,452.6,193.1,50.435,380.05,465.7,57.015,...,23.85,12.8,19.3,20.65,25.35,-9999,100,-9999,2019-06-29 18:30:00,2019-06-29 18:30:00
2019-06-29 18:30:00,1259.1630,CO2_dry,mg,7,452.6,193.1,50.435,380.05,465.7,57.015,...,23.85,12.8,19.3,20.65,25.35,-9999,100,-9999,2019-06-29 18:30:00,2019-06-29 18:30:00
2019-06-29 18:30:00,1499.6100,CO2_dry,mg,8,452.6,193.1,50.435,380.05,465.7,57.015,...,23.85,12.8,19.3,20.65,25.35,-9999,100,-9999,2019-06-29 18:30:00,2019-06-29 18:30:00
2019-06-29 18:30:00,1638.3790,CO2_dry,mg,9,452.6,193.1,50.435,380.05,465.7,57.015,...,23.85,12.8,19.3,20.65,25.35,-9999,100,-9999,2019-06-29 18:30:00,2019-06-29 18:30:00
2019-06-29 18:30:00,1087.7490,CO2_dry,mg,10,452.6,193.1,50.435,380.05,465.7,57.015,...,23.85,12.8,19.3,20.65,25.35,-9999,100,-9999,2019-06-29 18:30:00,2019-06-29 18:30:00

Note: Split the met data into - air parameters, radiation parameters, soil parameters, and volumetric water content - these can plotted separately against the gas flux to see correlation of the different set of parameters against the gas flux

bring together separate gas flux and met data across all the plots